<div class="row compose">
  <p>all 6 comments</p>
  <hr>
  <p class="actions">sorted by: &nbsp; <a style="text-decoration: underline">best</a> <%= image_tag "carat-down.png" %> &nbsp; &nbsp; <a>disable inbox replies (?)</a></p><br>
  <textarea></textarea><br>
  <button type="button" class="btn">save</button>
</div><br>