<%
meta title: "optimize a post", description: "How will your reddit post perform? Use this free tool to find out."
%>

<div class="form-signin">
  <h1>optimize a reddit post</h1><br>
  <%= render 'form' %>
</div>
