<!-- Comment One -->
<div class="row comments">
  <div class="col-md-1">
    <%= image_tag "up-down.jpg" %>
  </div>
  <div class="col-md-9">
    <p class="actions"><a><span class="handle">[-] <%= @u1 %></span></a> &nbsp; <%= @p1 %> points &nbsp; <%= @c1 %> minutes ago</p>
    <div class="comment">
      <p class="tight">
        70/30 split? Are they kidding? Unless your idea is nip alert that's a horrible deal. Unless there's some way to "fire" Sprinkle and get the equity back there's no incentive for them to put in the effort of a real cofounder.
      </p>      
    </div>
    <p class="actions"><a>permalink</a> &nbsp; <a>save</a> &nbsp; <a>report</a> &nbsp; <a>give gold</a> &nbsp; <a>reply</a></p>
  </div>
  <div class="col-md-2"></div>
</div><div class="gap"></div>