<!-- Comment Three -->
<div class="row comments">
  <div class="col-md-1">
    <%= image_tag "up-vote.jpg" %>
  </div>
  <div class="col-md-9">
    <p class="actions"><a><span class="handle">[-] <%= @prediction.handle %></span></a> &nbsp; <%= @p3 %>  points &nbsp; <%= @c3 %> minutes ago</p>
    <div class="comment">
      <p class="tight">
        Hey everyone, happy to answer questions you might have. We posted this to help other startups not make the same mistakes we did.
      </p>      
    </div>
    <p class="actions"><a>permalink</a> &nbsp; <a>save</a> &nbsp; <a>report</a> &nbsp; <a>give gold</a> &nbsp; <a>reply</a></p>
  </div>
  <div class="col-md-2"></div>
</div>