<!-- Comment Two Reply 2 -->
<div class="row comments">
<div class="col-md-1"></div>
<div class="col-md-1"></div>
   <div class="col-md-1">
    <%= image_tag "up-down.jpg" %>
  </div>
  <div class="col-md-7">
    <p class="actions"><a><span class="handle"><%= @prediction.handle %></span></a> &nbsp; <%= @p2r2 %>  points &nbsp; <%= @c2r2 %> minutes ago</p>
    <div class="comment">
      <p class="tight">
        Thank you.
      </p>      
    </div>
    <p class="actions"><a>permalink</a> &nbsp; <a>save</a> &nbsp; <a>report</a> &nbsp; <a>give gold</a> &nbsp; <a>reply</a></p>
  </div>
</div><div class="gap"></div>